<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Login - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>

    <main style="margin: 1em; text-align: center;">
      <h3>Login Page</h3>
      <form action="/login" method="POST" style="display: flex; flex-direction: column; align-items: center;">

        <!--Input email here-->
        <div class="form-group row">
          <label for="email" class="form-inline">E-mail</label>
          <input 
            class="form-control" 
            type="email" 
            name="email" 
            placeholder="Email"
            style="width: 300px; margin: 1em;" />
        </div>

        <!--Input password here-->
        <div class="form-group row">
          <label for="password" class="form-inline">Password</label>
          <input class="form-control" type="password" name="password" placeholder="Password"
            style="width: 300px; margin: 1em;" />
        </div>

        <!--Submit button-->
        <button type="Submit" class="btn btn-primary">Submit</button>


      </form>
    </main>
</body>

</html>